Design Model - 20 Min
Implement/Code Model - 30 Min
Review Model with team - 15 min

User
	string Full Name
	string Email
	list<ingredients> Alergies
	list<recipe> Favorited Recipes
	list<recipe> Disliked Recipes

Recipe
	Name
	List<IngredientItem> ingredients
	List<String> Instructions
	List<FoodLabels> labels

Ingredient
	int id
	string Name
	string long desc
	List<FoodLabels> FoodGroup
	
IngredientItem
	Ingredient ingredient
	float quantity
	Enum measurement

Enum Measurement
	Pinch
	ounces
	gallons

Enum FoodLabels
	Vegan