<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Licensing" version="18.1.0.43" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Buttons" version="18.1.0.43" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="18.1.0.43" targetFramework="net472" />
  <package id="Xamarin.Forms" version="3.6.0.344457" targetFramework="net472" />
</packages>